.DS_Store
.idea
hetnetana/dist
hetnetana/build
hetnetana/hetnetana.egg-info
hetnetana/src/hetnetana.egg-info
hetnetana/docs/_build
hetnetana/src/hetnetana/__pycache__/
hetnetana/src/hetnetana/notebook_legacy/__pycache__/
hetnetana/scratch/*
hetnetana/scratch
hetnetana/.tox/*
*.pyc
hetnetana/.coverage
hetnetana/.cache/*
hetnetana/docs/build/*
