.DS_Store
.idea
dist/
build/

src/hetnetana.egg-info/*
hetnetana/docs/_build
src/hetnetana/__pycache__/
src/hetnetana/notebook_legacy/__pycache__/
scratch/*
scratch
.tox/*
*.pyc
.coverage
.cache/*
docs/build/*
.coverage.*

